@{
	ViewData["Title"] = "Global International Trust Bank - Terms & Conditions";
	Layout = "_ClientLayout";
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb breadcrumb-style mg-b-0">
		<li class="breadcrumb-item">
			<a>Global International Trust Bank</a>
		</li>
		<li class="breadcrumb-item active">
			<a>Terms & Conditions</a>
		</li>
	</ol>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">

			<h1 class="mt-5">Terms & Conditions</h1>
			<hr style="width: 100px; height: 2px; background-color: #333; border: none; margin: 20px 0;">

			<h4>Legal Terms of Use</h4>

			<p>Your access to and continued use of this website (the "Site") constitutes your acceptance of, and is conditional upon your continued acceptance of and compliance with, the following terms (the "Terms"), as well as all applicable laws and regulations. If you do not agree with any of these Terms, do not use this Site. Please note that these Terms may change from time to time.</p>

			<h4>Important Notice Regarding Services</h4>

			<p>Global International Trust Bank is not a tax agency and does not handle any tax-related payments. We cannot access your personal accounts or provide tax collection services. Global International Trust Bank operates solely as a financial institution providing investment and wealth management services.</p>

			<h4>General Terms</h4>
			<p>All products and services of Global International Trust Bank Group Limited and its subsidiaries, affiliates, partners and associated businesses (collectively, "Global") are subject to the terms and conditions of the applicable agreements governing their use.</p>

			<p>These Terms are to be read by you together with any terms, conditions or disclaimers provided in the pages of this Site. In the event of any conflict, the terms provided in the pages of this Site will govern.</p>

			<p>The information, material and content provided in the pages of this Site (the "Information") may be changed at any time without notice. Changes may be made to the Terms at any time without notice by updating this posting. You agree to review the Terms regularly and by continuing to access or use the Site, you agree to any changes. It is your responsibility to check for any such changes.</p>

			<h4>Reserved Rights and Grant of Limited License</h4>
			<p>This Site is controlled and operated by Global. Global either owns or has the intellectual property rights, including copyright, in all Information, including but not limited to images, illustrations, audio clips and video clips on the Site.</p>

			<p>Users of the Site are granted a limited license to use (display or print) the Information for their own personal non-commercial use only, provided the Information is not modified and a copy of this agreement is attached to any copies that are made. Any other use of the Information is prohibited. Unless otherwise specified, none of the Information may be otherwise downloaded, copied, reproduced, republished, modified, stored in any medium, uploaded, posted, retransmitted or redisseminated in any manner or form without the prior written consent of Global.</p>

			<h4>No Solicitation</h4>
			<p>The Information on this Site is provided for informational purposes only. No part of the Site should be taken to constitute an offer or solicitation to buy or sell securities and/or other products or services, unless otherwise stated.</p>

			<h4>Local Laws and Jurisdictional Limitations</h4>
			<p>It is important to note that not all of the products, services and Information are available in all provinces of Canada or in other jurisdictions outside Canada and the United States of America. The Information does not constitute an offer or solicitation to buy or sell any product, service or information to anyone in any jurisdiction in which an offer or solicitation is not authorized or cannot legally be made or to any person to whom it is unlawful to make an offer or solicitation.</p>

			<p>The terms and conditions applicable to any product, service or information will be those determined at the time of provision of the product, service or information. Please be aware of the laws of your country or that otherwise apply to you in relation to any of the matters described in these pages. If you choose to access the Site from outside of Canada or the United States of America, you do so on your own initiative and are responsible for compliance with applicable local, national or international laws. You may not use or export or re-export the Information of any copy or adaptation in violation of applicable laws or regulations, including export laws and regulations of Canada in force from time to time.</p>

			<h4>Links to Other Websites</h4>
			<p>The Site may contain links to other sites provided as references to help you identify and locate other Internet resources that may be of interest. These other sites were independently developed by parties other than Global and Global does not review, endorse, approve or control and is not responsible for the accuracy or appropriateness of the information contained, or endorse the viewpoints expressed, at such sites. In providing links to other sites, Global is in no way acting as a publisher of the material contained on those other sites and does not seek to control the content of, or maintain any editorial control over such sites.</p>

			<p>Linking to any other site is at your sole risk and Global will not be responsible or liable for any damages in connection with linking. Links to downloadable software sites are for convenience only and Global is not responsible or liable for any difficulties or consequences associated with downloading the software. Use of any downloaded software is governed by the terms of the license agreement, if any, which accompanies or is provided with the software.</p>

			<p>A link to another site should not be construed to imply that Global is affiliated or associated with, or is legally authorized to use any trademark, trade name, logo or copyrighted symbol that may be reflected in the link or the description of the link to such other sites.</p>

			<h4>No Endorsement</h4>
			<p>The mention of another party or its product or service on the Site should not be construed as an endorsement of that party or its product or service.</p>

			<h4>Trademarks</h4>
			<p>Certain words, phrases, names, designs, icons, graphics or logos used on the Site may constitute trademarks, service marks or trade names of Global or other entities. The display of any trademarks on the Site does not imply that a license has been granted for any further use. Any unauthorized downloading, retransmission or other copying or modification of trademarks may be a violation of federal or common law and/or trademark law and could be subject to legal action.</p>

			<h4>Internet Email Communications</h4>
			<p>Any unencrypted or otherwise unprotected email communication over the Internet is, as with communication via any other medium, not confidential, subject to possible interception or loss, and is also subject to possible alteration. Global is not responsible for and will not be liable to you or any one else for any damages in connection with an email sent by you to Global or an email sent by Global to you at your request.</p>

			<h4>Conformance with Law</h4>
			<p>You agree that your use of the Site shall not violate any applicable local, national or international law, including but not limited to any regulations having the force of law. Some jurisdictions may have restrictions on the use of the Internet by their residents.</p>

			<h4>No Warranties</h4>
			<p>Information provided on the Site is believed to be reliable when posted. However, Global does not guarantee the quality, accuracy, completeness or timeliness of the Information provided. Global assumes no obligation to update the Information or advice on further developments concerning topics mentioned. Information contained on the Site may contain typographical errors. Information provided may be changed without notice.</p>

			<p>Access to this Site is provided on an "as is, where is" basis. Global and its officers, directors, employees and agents disclaim all express or implied warranties, representations, endorsements and conditions regarding use of the Site or the Information provided, including without limitation, all warranties as to merchantability, operation, fitness for a particular purpose, non-infringement, usefulness, completeness, accuracy, currency and reliability, whether arising from a course of dealing, usage or trade practice.</p>

			<p>Further, there are no representations and warranties that the Site will be available and meet your requirements, that access will be uninterrupted, that there will be no delays, failures, errors or omissions or loss of transmitted information, that no viruses or other contaminating or destructive properties will be transmitted or that no damage will occur to your computer system. You may not use or export or re-export the Information of any copy or adaptation in violation of applicable laws or regulations and you are responsible for protecting your own data and/or equipment and to take reasonable and appropriate precautions to scan for computer viruses or other destructive properties.</p>

			<h4>Disclaimer of Liability</h4>
			<p>Even though the utmost has been done to protect the security of the information received and transmitted by this Site, Global and its officers, directors, employees and agents are not responsible for any direct, indirect, special, incidental, consequential, exemplary, punitive or any other damages whatsoever and howsoever caused, arising out of or in connection with the use of the Site or in reliance on the Information available on the Site or as a result of transmitting confidential or sensitive information to Global over the Internet or if Global communicates such information to you over the Internet, including any loss of use, lost data, lost business profits, business interruption, personal injury, or any other pecuniary loss, whether in an action of contract, negligence or other tortious action, even if Global has been informed of the possibility of these damages.</p>

			<h4>Choice of Law and Jurisdiction</h4>
			<p>This Site is administered by Global from its offices in the Province of Ontario, Canada. The Site will be governed by the laws of the Province of Ontario and the laws of Canada applicable therein, notwithstanding any conflict of laws provisions or your domicile, residence or physical location. All disputes, controversies or claims arising out of or in connection with the Site shall be submitted to and be subject to the jurisdiction of the courts of the Province of Ontario. You hereby submit and attorn to the exclusive jurisdiction of the courts of the Province of Ontario to finally adjudicate or determine any suit, action or proceeding arising out of or in connection with this Site.</p>

			<h4>Agreement to Terms</h4>
			<p>If you do not agree to be bound by the above Terms then please close the window on your web browser and exit this Site.</p>
		</div>
	</div>
</div>

<div class="accent-line2 mt-5"></div>
<div class="row row-sm contact-info">
	<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
		<div class="card bg-gray-400 bd-0">
			<div class="card-body text-muted">
				<h5 class="card-title text-dark tx-medium mg-b-10">Vancouver Office</h5>
				<p class="card-subtitle mg-b-15 mt-3">Marine Building</p>
				<p class="card-subtitle mg-b-15">355 Burrard Street • Suite 1610</p>
				<p class="card-subtitle mg-b-15">Vancouver, BC V6C 2GB</p>
				<p class="card-subtitle mg-b-15 mt-3">E: <span class="text-dark">vancouver@Globalcapital.com</span></p>
				<p class="card-subtitle mg-b-15">T: <span class="text-dark">1-877-704-2430</span></p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
		<div class="card bg-gray-400 bd-0">
			<div class="card-body text-muted">
				<h5 class="card-title text-dark tx-medium mg-b-10">Calgary Office</h5>
				<p class="card-subtitle mg-b-15 mt-3">Bentall Kennedy Building</p>
				<p class="card-subtitle mg-b-15">1030 - 640 5th Avenue S.W.</p>
				<p class="card-subtitle mg-b-15">Calgary, AB T2P 3G4</p>
				<p class="card-subtitle mg-b-15 mt-3">E: <span class="text-dark">calgary@Globalcapital.com</span></p>
				<p class="card-subtitle mg-b-15">T: <span class="text-dark">1-877-704-2430</span></p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
		<div class="card bg-gray-400 bd-0">
			<div class="card-body text-muted">
				<h5 class="card-title text-dark tx-medium mg-b-10">Toronto Office</h5>
				<p class="card-subtitle mg-b-15 mt-3">Commerce Court West</p>
				<p class="card-subtitle mg-b-15">199 Bay Street • Suite 3100</p>
				<p class="card-subtitle mg-b-15">PO Box 201 • Toronto, Ontario. M5L 1E8</p>
				<p class="card-subtitle mg-b-15 mt-3">E: <span class="text-dark">toronto@Globalcapital.com</span></p>
				<p class="card-subtitle mg-b-15">T: <span class="text-dark">1-877-704-2430</span></p>
				<p class="card-subtitle mg-b-15">T: <span class="text-dark">437-886-2825</span></p>
			</div>
		</div>
	</div>
</div>