@model CreateAdminVM

<div class="mt-2">
	<div class="card bg-gray-200 bd-0">
		<div class="card-body">
			<h5 class="tx-dark tx-medium mg-b-10">Fill the input fields with the client's information</h5>
			@if (!ViewData.ModelState.IsValid)
			{
				<div class="card bg-warning text-white">
					<div class="card-body d-flex align-items-center p-3">
						<i class="fas fa-exclamation-circle me-2"></i>
						<div asp-validation-summary="ModelOnly" class="validation-summary-no-bullets flex-grow-1"></div>
					</div>
				</div>
			}
			<form asp-action="Create">
				<div>
					<div class="form-group">
						<label for="InputID" class="form-label" id="usernameLabel">Full Name</label>
						<input asp-for="FullName" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="InputPassword" class="form-label" id="passwordLabel">Phone Number</label>
						<input asp-for="PhoneNumber" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="InputPassword" class="form-label" id="passwordLabel">Email</label>
						<input asp-for="Email" type="text" class="form-control">
					</div>
				</div>
				<div class="form-group mb-0 mt-3 justify-content-end">
					<div>
						<button type="submit" class="btn btn-success px-5">Create Admin</button>
						<a asp-controller="Admin" asp-action="Index" class="btn btn-danger ms-4 px-5">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>